.header_toggle{
    width:100%;
    position:fixed;
    display: flex;
    flex-direction: row;
    justify-content: right;
    color:white;
    font-size:25px;
    z-index:1000;
}
.header_toggle h1:hover{
    cursor: pointer;
    transition-duration: 500ms;
    color:white;
}