.header {
    width:100vw;
    height:100vh;
    min-height:5vh;
    max-height:100%;
    max-width:100%;
    position:fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#181818;
    opacity: 90%;
    z-index:999;
}

.header a{
    text-decoration: none;
    margin-top:2%;
}